# What is Python?
* High-level, interpreted programming language
* Developed in 1991 by Guido van Rossum

# Why Use Python for AI?
* Rich Ecosystem of Libraries and Frameworks
* Ease of Learning and Readability
* Integration and Flexibility

# Variables

## What is a Variable?

* A variable is a named location in memory where a value can be stored and manipulated.
* Variable names cannot start with a number or contain spaces. Additionally, they are case-sensitive.
* If you assign a value to a variable with the same name, the new value will overwrite the previous one.

In [ ]:
# Case-sensitive
number = 10
Number = 20

print(number)
print(Number)

In [ ]:
# Error: Starts with number
10_number = 10

In [ ]:
# Error: space in the name
number ten = 10

In [ ]:
# Overwriting
number = 100
print(number)

number = 999
print(number)

## Variable types

### Integer: 'int'

In [ ]:
age = 20

print('age:', age)
print('type of age:', type(age))

### Floating-Point: 'float'

In [1]:
pi = 3.14159

print('pi:', pi)
print('type of pi:', type(pi))

pi: 3.14159
type of pi: <class 'float'>

### String: str

In [2]:
name = 'Blair'

print('name:', name)
print('type of name:', type(name))

name: Blair
type of name: <class 'str'>

* To declare a string, enclose it in single quotes (' ') or double quotes (" ")
* A string can contain spaces.

In [3]:
sentence = "Blair is so cool."

print('sentence:', sentence)
print('type of sentence:', type(sentence))

sentence: Blair is so cool.
type of sentence: <class 'str'>

* We can access the elements of a string with an 'index'. It starts with 0 and starts in reverse with -1.

In [4]:
sentence = "Blair is so cool."

print(sentence[0])
print(sentence[1])
print(sentence[5])
print(sentence[-1])
print(sentence[-2])

B
l

.
l

### List: 'list'

In [5]:
numbers = [1, 2, 3, 4, 5]

print('numbers:', numbers)
print('type of numbers:', type(numbers))

numbers: [1, 2, 3, 4, 5]
type of numbers: <class 'list'>

* We can make a list with variables have various type

In [6]:
numbers_and_alphabets = [1, 'a', 2, 'b']

print('numbers_and_alphabets:', numbers_and_alphabets)
print('type of numbers_and_alphabets:', type(numbers_and_alphabets))

numbers_and_alphabets: [1, 'a', 2, 'b']
type of numbers_and_alphabets: <class 'list'>

* We can access the elements of a list with an 'index'. It starts with 0 and starts in reverse with -1.    

* If the index goes beyond the range of the list, an index error will occur.

In [ ]:
numbers = [1, 2, 3, 4, 5]

print(numbers[0]) # 1
print(numbers[1]) # 2
print(numbers[-1]) # 5
print(numbers[-2]) # 4
print(numbers[-5]) # 1

In [ ]:
# Index Error
print(numbers[5])

* A list can have lists as its elements.

In [7]:
list_of_list = [[1, 2, 3], [4, 5, 6]]

print(list_of_list[0][0]) # means, list_of_list's index 0 element of index 0 element. It is 1
print(list_of_list[0][2]) # means, list_of_list's index 2 element of index 0 element. It is 3
print(list_of_list[1][0]) # 4
print(list_of_list[1][2]) # 6

1
3
4
6

* We can modify the values of list elements.

In [8]:
numbers = [1, 2, 3, 4, 5]
numbers[0] = 10

print(numbers)

[10, 2, 3, 4, 5]

### Tuple: 'tuple'

In [9]:
coordinates = (4, 5)

print('coordinates:', coordinates)
print('type of coordinates:', type(coordinates))

coordinates: (4, 5)
type of coordinates: <class 'tuple'>

* We can access the elements of a tuple with an 'index'.
* Just like with lists, the index goes beyond the range of the tuple, an index error will occur.

In [12]:
print(coordinates[0])
print(coordinates[1])
print(coordinates[-1])

4
5
5

In [13]:
print(coordinates[2])

IndexError: tuple index out of range

In contrast to lists, we **cannot modify** the values of tuple elements.

In [14]:
coordinates[0] = 10

TypeError: 'tuple' object does not support item assignment

### Dictionary: 'dict'

* A dictionary is a variable that holds key-value pairs. The values can be accessed using the keys. Like lists, dictionaries are mutable.

In [ ]:
person = {'name': 'Alice', 'age': 25}

print('type of person:', type(person))
print('name:', person['name'])
print('age:', person['age'])

In [ ]:
person['age'] = 52

print('age:', person['age'])

### Boolean: 'bool'

* Boolean has only two values: true or false."

In [ ]:
bool_true = True
bool_false = False

print(bool_true)
print(bool_false)

## Slicing

* We can slice strings and lists into new one.

In [15]:
quote = "Life is beautiful."

life = quote[0:4] # [start index : end index + 1]
print(life)

Life

In [17]:
numbers = [1, 2, 3, 4, 5]

three_numbers = numbers[0:3]
print(three_numbers)

[1, 2, 3]

# Operators

## +, -, *, /

In [ ]:
4 + 4

In [ ]:
4 - 3

In [ ]:
4 * 9

In [ ]:
# Note: Division will result in a float.
10 / 2

## **, %, //
* exponentiation
* remainder
* integer division(floor division)

In [ ]:
2**10

In [ ]:
10%3

In [18]:
10//3

3

# if-else

* if-else statements are syntax for executing code when specific conditions are met.

In [ ]:
# if condition:
#   code
# else:
#   code

i = 10

if i>5:
  print('i is bigger than 5')
else:
  print('i is not bigger than 5')

In [19]:
# if condition:
#   code
# elif condition:
#   code
# elif condition:
#   code
# else:
#   code

score = 95

if score < 70:
  print("F")
elif score < 80:
  print("C")
elif score < 90:
  print("B")
else:
  print("A")

A

# for & while loop

* We can repeatedly execute a block of code based on specific conditions.
* Two types of loop
  1. **for**
  2. **while**

* If you know how many times you want to loop, 'for' is appropriate. The 'for' loop works as follows.

In [ ]:
# Print i 10 times
# In the code below, 'i' increases by 1 each time the loop iterates.
for i in range(10):
  print(i)

In [ ]:
# Print elements in numbers one by one
numbers = [10, -2, -3, 4]
for i in numbers:
  print(i)

In [20]:
word = 'summer'
for i in word:
  print(i)

s
u
m
m
e
r

In [21]:
# You can also omit the variable in a 'for' loop."
for _ in (range(3)):
  print('Good')

Good
Good
Good

* If you know the condition under which to terminate, 'while' is appropriate. The 'while' loop works as follows.

In [22]:
i = 0
while i < 5:
  print(i)
  i = i + 1

0
1
2
3
4

* If you want to skip the rest of the code inside a loop and move on to the next iteration, you can use the **continue**.

In [23]:
for i in range(10):
  if i == 5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

* If you want to exit out of the loop entirely, skipping the rest of the code inside it, you can use the **break**.

In [24]:
for i in range(10):
  if i == 5:
    break
  print(i)

0
1
2
3
4

### List Comprehension
* List comprehension is a concise way to create lists in Python. It allows for generating new lists by applying an expression to each element in an existing list or other iterable objects.

In [26]:
sample1 = [i for i in range(10)]
print(sample1)

sample2 = [i*2 for i in range(10)]
print(sample2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

# Quiz \#1

In [1]:
# Find the sum of all elements in the given list numbers
numbers = [1, 2, 10, 20, -10029, 32, 324, 231, 2314, -2, 873]

# code
result = sum(numbers)

print(result)

-6224

In [2]:
# Count how many times the number 4 appears in the given list numbers
numbers = [7, 3, 8, 3, 9, 9, 6, 4, 3, 3, 3, 7, 3, 4, 1, 8, 5, 3, 4, 6, 0, 8, 5, 1, 5, 3, 3, 4, 3, 3]

# code
count = 0
for n in numbers:
    if n == 4:
        count += 1

result = count

print(result)

4

In [7]:
# Find the maximum and minimum values in the given list numbers
# Don't have to consider about 'efficiency' in this quiz
# -100 < number < 100
numbers = [-18, -26, -79, 71, 50, 94, -87, 29, -23, 68, 64, -46, 68, 97, -73, -51, 23, 17, 59, 21, 70, -60, -46, -19, -82, 79, 31, -47, 10, -29]

# code
# sort() function just SORT own list, doesn't return values
# if you use sort() function, list will be changed sorted form
numbers.sort()
min_value = numbers[0]
max_value = numbers[-1]

print(min_value, max_value)

-87 97

### answer

In [29]:
# Find the sum of all elements in the given list numbers
numbers = [1, 2, 10, 20, -10029, 32, 324, 231, 2314, -2, 873]

# code
result = 0
for n in numbers:
  result += n

print(result)

-6224

In [ ]:
# Find the sum of all elements in the given list numbers
numbers = [1, 2, 10, 20, -10029, 32, 324, 231, 2314, -2, 873]

# code
result = sum(numbers)

print(result)

In [ ]:
# Count how many times the number 3 appears in the given list numbers
numbers = [7, 3, 8, 3, 9, 9, 6, 4, 3, 3, 3, 7, 3, 4, 1, 8, 5, 3, 4, 6, 0, 8, 5, 1, 5, 3, 3, 4, 3, 3]

# code
result = 0
for n in numbers:
  if n == 3:
    result += 1

print(result)

In [ ]:
# Count how many times the number 4 appears in the given list numbers
numbers = [7, 3, 8, 3, 9, 9, 6, 4, 3, 3, 3, 7, 3, 4, 1, 8, 5, 3, 4, 6, 0, 8, 5, 1, 5, 3, 3, 4, 3, 3]

# code
result = numbers.count(4)

print(result)

In [30]:
# Find the maximum and minimum values in the given list numbers
# -100 < number < 100
numbers = [-18, -26, -79, 71, 50, 94, -87, 29, -23, 68, 64, -46, 68, 97, -73, -51, 23, 17, 59, 21, 70, -60, -46, -19, -82, 79, 31, -47, 10, -29]

# code
min_value = 100
max_value = -100
for n in numbers:
  if n < min_value:
    min_value = n
  if n > max_value:
    max_value = n

print(min_value, max_value)

-87 97

In [ ]:
# Find the maximum and minimum values in the given list numbers
# -100 < number < 100
numbers = [-18, -26, -79, 71, 50, 94, -87, 29, -23, 68, 64, -46, 68, 97, -73, -51, 23, 17, 59, 21, 70, -60, -46, -19, -82, 79, 31, -47, 10, -29]

# code
min_value = min(numbers)
min_value = max(numbers)

print(min_value, min_value)

# Function

* Function declarations start with 'def'. Functions can either take parameters or not.

In [ ]:
def sum(a, b):
  result = a+b
  return result

sum_of_numbers = sum(10,20)
print(sum_of_numbers)

In [ ]:
def greeting():
  print("Hello!")

greeting()

# Class

* You can also define classes. Here is an example of a class.

In [32]:
class Person:
  def __init__(self, name, age, address):
    self.hello = 'Hello!'
    self.name = name
    self.age = age
    self.address = address

  def greeting(self):
    print(f"{self.hello} My name is {self.name}")

In [33]:
stranger = Person(name='Alice', age=25, address='Hanyang')
stranger.greeting()

print('name:', stranger.name)
print('age:', stranger.age)
print('address:', stranger.address)

Hello! My name is Alice
name: Alice
age: 25
address: Hanyang

## Class Variables
* Class variables are defined within the class definition and are shared across all instances of that class. In other words, class variables have the same value for every object created from that class. They are typically used to store values that should be shared among all instances.

In [34]:
class Student:
    total_students = 0  # class variable

    def __init__(self, name):
        self.name = name  # instance variable
        Student.total_students += 1  # update class variable

    def display_count(self):
        print(f"Total Students: {Student.total_students}")

# Create instances
s1 = Student("Alice")
s2 = Student("Bob")

# Print class variable
s1.display_count()
s2.display_count()

print(Student.total_students)  # Output: 2

Total Students: 2
Total Students: 2
2

## Class inheritance

**What is Class Inheritance?**


Class inheritance is a crucial concept in Object-Oriented Programming (OOP). It allows a child class to inherit attributes and methods from its parent class.

**Advantages**
* Code Reusability: You can reuse the code from the parent class, making it easier to create new classes.
* Ease of Maintenance: Any changes made to the parent class automatically reflect in the child class, making maintenance easier.

In [36]:
class Person:
  def __init__(self, name):
    self.name = name

  def greet(self):
    return f"Hello, my name is {self.name}."

class Student(Person):
  def __init__(self, name, student_id):
    # When super().__init__(name) is called, it invokes the __init__ method of the parent class Person.
    super().__init__(name)
    self.student_id = student_id

    # greet method is not defined here

# Create instances
p = Person("Alice")
s = Student("Blair", "S12345")

# Test inherited method
print(p.greet())  # Output: "Hello, my name is Alice."
print(s.greet())  # Output: "Hello, my name is Bob."

Hello, my name is Alice.
Hello, my name is Blair.

### Overriding

Overriding occurs when a subclass provides its own implementation for a method that is already defined in its parent class. This allows the subclass to inherit all methods and attributes from the parent class but customize specific behavior.

In [37]:
class Animal:
    def make_sound(self):
        return "Some generic sound"

class Dog(Animal):
    def make_sound(self):
        return "Woof"

class Cat(Animal):
    def make_sound(self):
        return "Meow"

# Create instances
animal = Animal()
dog = Dog()
cat = Cat()

# Test Overriding
for creature in [animal, dog, cat]:
    print(creature.make_sound())

Some generic sound
Woof
Meow

# Quiz \#2

In [ ]:
class Shape:
  def area(self):
    return "Area of shape cannot be defined."

class Circle(Shape):
  def __init__(self, radius):
    self.radius = radius
    self.pi = 3.14

  # Override area method here

class Square(Shape):
  def __init__(self, side):
    self.side = side

# Override area method here


circle = Circle(5)
square = Square(4)

print(circle.area())
print(square.area())

### answer

In [38]:
class Shape:
  def area(self):
    return "Area of shape cannot be defined."

class Circle(Shape):
  def __init__(self, radius):
    self.radius = radius
    self.pi = 3.14

  # Override area method here
  def area(self):
    return 3.14 * self.radius ** 2

class Square(Shape):
  def __init__(self, side):
    self.side = side

  # Override area method here
  def area(self):
    return self.side ** 2


circle = Circle(5)
square = Square(4)

print(circle.area())
print(square.area())

78.5
16

# Websites that can help with studying

* Official Documentation https://docs.python.org/3/
* 코딩도장 https://dojang.io/
* 프로그래머스 https://programmers.co.kr/
* 백준 온라인 저지 https://www.acmicpc.net/
* 릿코드 https://leetcode.com/
* 코드업 https://codeup.kr/